* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
grid,
footer {
    max-width: 800px;
    margin: auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: #fff;
    padding: o.5rem;
    display: block;
    text-decoration: none;
    font-size: 1.2 rem;
    font-weight: 700;
}

h1 {
    color: rgb(160, 132, 10);
    margin: 1rem 0;
    border-bottom: 1px solid #000;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2 / 2;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgba(17, 11, 182, 0.911);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 0.2);
    /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

aside h2 {
    position: absolute;
    top: 40px;
    left: 130px;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}