main {
    max-width: 840px;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    background-color: rgb(126, 65, 15);
    text-decoration: dashed;
}

h1 {
    color: rgb(160, 132, 10);
    margin: 1rem 0;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgba(182, 128, 11, 0.911);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 0.2);
    /* 1️⃣ */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}